$text-size-small-min: 0.75rem;
$text-size-small: 0.875rem;
$text-size-medium: 1rem;
$text-size-large-min: 1.25rem;
$text-size-large: 1.5rem;
$font-weight-regular: 500;
$font-weight-bold: 800;

@mixin text-preset($min-size, $preferred-size, $max-size, $weight) {
  font-size: clamp($min-size, $preferred-size, $max-size);
  font-weight: $weight;
  line-height: 1.5;
  letter-spacing: 0;
}

.card {
  &__image {
    border-radius: 0.625rem;
    width: 100%;
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__category {
    padding: 0.25rem 0.75rem;
    background-color: var(--color-yellow);
    align-self: flex-start;
    border-radius: 0.25rem;
  }

  &__date {
    @include text-preset($text-size-small-min, 2vw, $text-size-small, $font-weight-regular);
  }

  &__title-link {
    &:link,
    &:visited {
      @include text-preset($text-size-large-min, 3vw, $text-size-large, $font-weight-bold);
      text-decoration: none;
      color: inherit;
      transition: color 0.2s ease-in-out;
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--color-yellow);
      cursor: pointer;
      outline: none;
    }
  }

  &__text {
    @include text-preset($text-size-small, 2vw, $text-size-medium, $font-weight-regular);
    color: var(--color-gray-500);
  }

  &__author {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 0.75rem;
  }

  &__avatar {
    width: 2rem;
  }

  &__author-name,
  &__category {
    @include text-preset($text-size-small-min, 2vw, $text-size-small, $font-weight-bold);
  }

  &__author-name {
    font-size: $text-size-small;
  }

  &__category,
  &__date,
  &__title {
    margin-bottom: 0.75rem;
  }

  &__text {
    margin-bottom: 1.5rem;
  }
}
