.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  max-width: 24rem;
  background-color: var(--color-white);
  padding: 1.5rem;
  border-radius: 1.25rem;
  box-shadow: 0.5rem 0.5rem 0 0 var(--color-gray-950);
  border: 1px solid var(--color-gray-950);
}
